<%= turbo_frame_tag "search_results" do %>
  <% if @tracks.present? %>
    <div class="grid gap-4">
      <% @tracks.each do |track| %>
        <div class="flex items-center gap-4 p-4 hover:bg-gray-50 rounded-lg border">
          <% if track.album.images.any? %>
            <img src="<%= track.album.images.last["url"] %>" 
                 alt="Album cover" 
                 class="w-16 h-16 object-cover rounded">
          <% end %>
          
          <div class="flex-1">
            <h3 class="font-semibold"><%= track.name %></h3>
            <p class="text-gray-600"><%= track.artists.map(&:name).join(", ") %></p>
          </div>

          <%= button_to create_song_path, 
              params: { 
                date: @date,
                song_id: track.id,
                song_name: track.name,
                artist_name: track.artists.first.name,
                album_cover_url: track.album.images.first["url"]
              },
              data: { turbo: false },
              class: "px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600" do %>
            <%= @existing_entry ? "Replace" : "Select" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% elsif @tracks == [] %>
    <div class="text-gray-500 text-center py-8">
      No songs found matching your search
    </div>
  <% else %>
    <div class="text-gray-500 text-center py-8">
      Search for a song to see results
    </div>
  <% end %>
<% end %>