<div class="calendar-container">
  <div class="calendar-header">
    <div class="month-navigation">
      <h1 class="text-2xl font-bold"><%= Date.current.strftime("%B %Y") %></h1>
    </div>
    <%= button_to logout_path, method: :delete, class: "text-gray-600 hover:text-gray-900" do %>
      Logout
    <% end %>
  </div>

  <div class="weekday-header">
    <% %w[Sunday Monday Tuesday Wednesday Thursday Friday Saturday].each do |day| %>
      <div class="weekday-label"><%= day %></div>
    <% end %>
  </div>

  <div class="calendar-grid">
    <% dates_in_month = (Date.current.beginning_of_month..Date.current.end_of_month) %>
    <% dates_in_month.each do |date| %>
      <% if date == dates_in_month.first %>
        <% date.wday.times do %>
          <div></div>
        <% end %>
      <% end %>
      
      <div class="calendar-day <%= 'has-song' if @song_entries&.find_by(date: date) %>">
        <% if entry = @song_entries&.find_by(date: date) %>
          <span class="day-number"><%= date.day %></span>
          <%= image_tag entry.album_cover_url, class: "song-cover" if entry.album_cover_url %>
          <div class="song-info">
            <div class="song-title"><%= entry.song_name %></div>
            <div class="song-artist"><%= entry.artist_name %></div>
          </div>
        <% else %>
          <div class="flex items-center justify-center h-full">
            <span class="text-xl text-gray-400"><%= date.day %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= link_to "#", class: "add-song-button" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
    </svg>
    Add Song of the day
  <% end %>
</div>